In [ ]:
import numpy as np

In [ ]:
# 1. Array Creation Techniques
print("1. Array Creation Techniques")

1. Array Creation Techniques

In [ ]:
# a. Creating an array from a list
array_from_list = np.array([1, 2, 3, 4, 5])
array_from_list

array([1, 2, 3, 4, 5])

In [ ]:
# b. Using arange()
array_arange = np.arange(0, 10, 2)
array_arange

array([0, 2, 4, 6, 8])

In [ ]:
# c. Using linspace()
array_linspace = np.linspace(0, 10, 5)  # Divides 0 to 10 into 5 points
array_linspace

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [ ]:
# d. Using zeros()
array_zeros = np.zeros((3, 3))
array_zeros

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
# e. Using ones()
array_ones = np.ones((2, 2))
array_ones

array([[1., 1.],
       [1., 1.]])

In [ ]:
# f. Using eye() for identity matrix
array_eye = np.eye(3)
array_eye

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
# g. Using random() for random values
array_random = np.random.random((3, 3))
array_random

array([[0.3194049 , 0.85750703, 0.48372929],
       [0.48591783, 0.04850303, 0.60685535],
       [0.6652718 , 0.3319404 , 0.65096444]])

In [ ]:
# 2. Different NumPy Methods
print("\n2. NumPy Methods")

2. NumPy Methods

In [ ]:
# a. Reshaping an array
reshaped_array = np.arange(1, 10).reshape(3, 3)
reshaped_array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
# b. Transposing an array
transposed_array = reshaped_array.T
transposed_array

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [ ]:
# c. Mathematical operations
array_math = np.array([1, 2, 3])
array_math + 2
array_math * 3
np.sqrt(array_math)

array([1.        , 1.41421356, 1.73205081])

In [ ]:
# d. Aggregation methods
np.sum(array_math)
np.mean(array_math)
np.max(array_math)
np.min(array_math)

np.int64(1)

In [ ]:
# e. Concatenation of arrays
array_a = np.array([1, 2, 3])
array_b = np.array([4, 5, 6])
concat_array = np.concatenate((array_a, array_b))
concat_array

array([1, 2, 3, 4, 5, 6])

In [ ]:
# f. Sorting an array
unsorted_array = np.array([3, 1, 4, 2])
sorted_array = np.sort(unsorted_array)
sorted_array

array([1, 2, 3, 4])

In [ ]:
# g. Indexing and Slicing
indexed_value = array_math[1]  # Indexing
indexed_value
sliced_array = array_math[1:3]  # Slicing
sliced_array

array([2, 3])

In [ ]:
# h. Boolean Masking
boolean_mask = array_math > 2
boolean_mask
array_math[boolean_mask]

array([3])